.Body {
    background: url(https://static.wikia.nocookie.net/pogod/images/3/3a/%D0%9F%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D0%B0.jpg/revision/latest?cb=20181224151953&path-prefix=ru);
}
.Tophead {
    box-sizing: border-box;
    width: 875px;
    height: 70px;
    background-color: rgb(214, 255, 255);
    margin-left: 4px;
    text-align: center;
    position: static;
}
.Tours, .About, .Contacts, .Feedback, .Galery {
    font-size: 32px;
    color: rgba(144, 144, 144, 0.863);
    margin-left: 35px;
    margin-right: 35px;
    box-sizing: border-box;
    position: relative;
    top: 15px;
}
.Tour1 {
    border-radius: 17px 17px;
    display: block;
    width: 400px;
    height: max-content;
    text-align: center;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 20px;
    border-style: solid;
    color: rgb(83, 83, 83);
    background-color: rgb(214, 255, 255);
    padding: 12px;
    opacity: 80%;
}
.P5 {
    font-style: italic;
    font-size: 25px;
    font-size: xx-large;
}

.Tour2 {
    display: block;
    border-radius: 17px 17px;
    width: 400px;
    height: max-content;
    text-align: center;
    border-style: solid;
    border-color: rgb(83, 83, 83);
    background-color: rgb(214, 255, 255);
    opacity: 80%;
    font-size: 20px;
    color: rgb(83, 83, 83);
    margin-top: 10px;
    margin-left: 10px;
    padding: 12px;
}
.P7 {
    font-style: italic;
    font-size: 25px;
    font-size: xx-large;
}
